NODE_ENV=development
PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

REDIS_PORT=
REDIS_HOST=
REDIS_CACHE_TTL=

# openssl rand -hex 32 - генерация секретов
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=

BCRYPT_SALT_ROUNDS=

THROTTLE_TTL=
THROTTLE_LIMIT=
AUTH_THROTTLE_TTL=
AUTH_THROTTLE_LIMIT=

EXCHANGERATE_API_KEY=
EXCHANGERATE_API_BASE_URL=
GEO_API_BASE_URL=

